@import '../../App.scss';

#side-nav{
    position: relative;
    width: calc($width * 0.3);
    height: 100%;
    background: rgba($gray, 0.1);
    padding: 3em 2em;
    transition: .5s ease;

    @media screen and (max-width: 600px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: $black;
    }

    .expand-btn{
        position: absolute;
        right: 4%;
        top: 4%;

        @media screen and (max-width: 600px){
            position: fixed;
            top: 2%;
            left: 0;
            background: $black;
            padding: 1em;
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
            color: $white;
        }
    }

    .logo{
        display: flex;
        align-items: center;
        gap: .5em;
        margin: 0 0 3em 0;
        color: $green;
        font-size: $large-text;

        @media screen and (max-width: 600px){
            margin: 2em 0 2em 0;
        }

        img{
            width: calc($width * 0.3);
        }
    }

    nav{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .db-btn{
            gap: 1em;
            width: 100%;
            padding: 1em;
            border-radius: $small-radius;
            transition: .3s ease;
            color: $gray;

            &:hover{
                background: rgba($gray, 0.6);
            }

            &.activated{
                background: rgba($gray, 0.6);
                color: $black;
            }
        }
    }

    &.expanded{
        width: calc($width * 0.07);
        padding: 3em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media screen and (min-width: 600px) and (max-width: 1000px){
            width: calc($width * 0.1);
        }

        @media screen and (max-width: 600px){
            width: 0;
            padding: 0;  
        }

        .logo{
            margin: 0 0 4em 0;

            @media screen and (max-width: 600px){
                display: none;
                margin: 2em 0 2em 0;
            }
        }

        nav{

            .db-btn{
                display: grid;
                place-items: center;
                padding: 1em .5em;
                @media screen and (max-width: 600px){
                    display: none;
                }
            }
        }
    }
}