@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/inter');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$green: #00302E;
$lt-green: #06E775;
$cream: #E2B887;
$white: #fefefe;
$black: #0B0D17;
$gray: #B2B2B2;
$red: #C92C33;


$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$text: 1em;
$small-text: .5em;
$large-text: 2.5em;
$extra-large-text: 14em;

$font: 'Poppins', sans-serif;
$ft-font: 'Inter', sans-serif;

.App{
  font-family: $font !important;
}

::-webkit-scrollbar{
  width: 0;
}